@{
    Layout = null;
}
@model IEnumerable<GoldPrice>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" http-equiv="refresh" content="30" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bảng giá vàng</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<body>

    <div class="company-wrapper">
        <div class="company-name">
            @ViewBag.Company.CompanyName
        </div>
        <div class="company-meta">
            📍 @ViewBag.Company.Address &nbsp;&nbsp;|&nbsp;&nbsp;
            ☎ @ViewBag.Company.Phone
        </div>
    </div>

    <div class="price-title">
        BẢNG GIÁ VÀNG HÔM NAY – @DateTime.Now.ToString("dd/MM/yyyy")
    </div>

    <main class="price-container">
        <table class="flex-fill price-table">
            <thead>
                <tr>
                    <th class="left">LOẠI VÀNG</th>
                    <th class="right">GIÁ MUA VÀO</th>
                    <th class="right">GIÁ BÁN RA</th>
                    @* <th class="right">NGÀY CẬP NHẬT</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="left">@item.GoldType?.GoldTypeName.ToUpper()</td>
                        <td class="right buy">@item.BuyPrice.ToString("N0")</td>
                        <td class="right sell">@item.SellPrice.ToString("N0")</td>
                        @* <td class="right">@item.ApplyDate.ToString("dd/MM/yyyy HH:mm")</td> *@
                    </tr>
                }
            </tbody>
        </table>
    </main>

    <footer class="border-top footer">
        <div class="updated-time">
            &copy; @DateTime.Now.ToString("dd/MM/yyyy") - Bảng Giá Vàng Hôm Nay
        </div>
    </footer>
</body>
</html>
